<h2>Sign up</h2>


<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class = "field"><%= f.label :email %>
  <%= f.email_field :email %></div>

  <div class = "field"><%= f.label :password %>
  <%= f.password_field :password %></div>

  <div class = "field"><%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<p>-- or --</p>
<p><%= link_to_rpx "Sign in with Googe/AOL/Yahoo/OpenID", user_session_url %></p>

<%= render "devise/shared/links" %>


